CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_QSDK_Standard_Beeliner=y
CONFIG_TARGET_BOARD="ipq806x"
CONFIG_DEVEL=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_IMAGEOPT=y
CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_KERNEL=y
CONFIG_KERNEL_KALLSYMS=y
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk"
# CONFIG_PACKAGE_alljoyn-samples is not set
# CONFIG_PACKAGE_alljoyn-sample_apps is not set
CONFIG_PACKAGE_open-plc-utils=m
CONFIG_PACKAGE_open-plc-utils-hpav=m
CONFIG_PACKAGE_open-plc-utils-plctool=m
CONFIG_PACKAGE_open-plc-utils-rkey=m
CONFIG_PACKAGE_qca-ieee1905-gn=m
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="QSDK"
CONFIG_VERSION_NICK="Standard"
CONFIG_VERSION_NUMBER="IPQ806X.LN"
CONFIG_VERSION_REPO="http://downloads.openwrt.org/attitude_adjustment/12.09-rc1/%S/packages"
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
